# Requirements for the Network Security project
seaborn
requests
python-dotenv
numpy
pandas
matplotlib
seaborn
pymongo
pymongo[srv]==3.12
dotenv
certifi
scikit-learn
ipykernel
scipy
pyyaml
#-e .
